# This is .gitignore file for this static page site.
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
node_modules/

# Log files
*.log

# htaccess
/.htaccess